.bottomHeader {
  padding-top: 110px;
  padding-bottom: 110px;
  background: url("@assets/img/cosmetics.png") no-repeat right bottom / auto;
}

.bottomHeaderContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.bottomHeaderContentText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  z-index: 0;
}

.bottomHeaderContentTextTitle {
  color: rgba(0, 0, 0, 1);
  font-family: "Red Hat Display";
  font-style: Medium;
  font-size: 56px;
  font-weight: 500;
  line-height: 70px;
  letter-spacing: 0%;
  width: 620px;
}

.bottomHeaderContentTextItem {
  width: 515px;
  color: rgba(85, 85, 85, 1);
  font-family: "Red Hat Display";
  font-style: "Regular";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
}

.searchForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.searchLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 1);
  padding: 10px;
  width: 330px;
}

.searchLabelItem {
  outline: none;
  border: none;
  background: inherit;
  color: rgba(153, 153, 153, 1);
  font-family: "Red Hat Display";
  font-style: "Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
}

.searchLabelItemImg {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(64, 47, 44, 1);
  border: none;
  padding: 10px;
  cursor: pointer;
}

.searchFormBtn {
  background: rgba(64, 47, 44, 1);
  color: rgba(255, 255, 255, 1);
  font-family: "Red Hat Display";
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  transition: font-weight 0.3s ease;
}

.searchFormBtn:hover {
  font-weight: 800;
}
