.advantages {
  padding-top: 130px;
}

.advantagesContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advantagesContentText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.advantagesContentTextTitle {
  width: 520px;
  color: rgba(0, 0, 0, 1);
  font-family: "Red Hat Display";
  font-style: Medium;
  font-size: 56px;
  font-weight: 500;
  line-height: 70px;
  letter-spacing: 0%;
}

.advantagesContentTextItem {
  width: 610px;
  color: rgba(85, 85, 85, 1);
  font-family: "Red Hat Display";
  font-style: "Regular";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
}

.advantagesContentTextBtn {
  padding: 15px 30px;
  color: rgba(255, 255, 255, 1);
  font-family: "Red Hat Display";
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  background: rgba(64, 47, 44, 1);
  border: none;
  transition: font-weight 0.3s ease;
}

.advantagesContentTextBtn:hover {
  font-weight: 800;
  cursor: pointer;
}
