.description {
  background: rgba(253, 248, 245, 1);
  padding-top: 60px;
  padding-bottom: 60px;
}

.descriptionContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.descriptionTitle {
  color: rgba(34, 34, 34, 1);
  font-family: "Red Hat Display";
  font-style: Bold;
  font-size: 56px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0%;
  border-bottom: 3px solid rgba(34, 34, 34, 1);
}

.descriptionItem {
  color: rgba(85, 85, 85, 1);
  font-family: "Red Hat Display";
  font-style: "Regular";
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
}
